/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  z-index: 1;
  width: 100% !important;
  height: 100%;
  margin: 0;
  padding: 0; }

#layer {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(99, 99, 99, 0.8));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(99, 99, 99, 0.8));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(99, 99, 99, 0.8));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(99, 99, 99, 0.8));
  /* Standard syntax (must be last) */ }

/* NAVBAR */
#navbar {
  z-index: 4;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8%;
  background-color: rgba(15, 15, 15, 0.5) !important; }

#cwienczekCom {
  color: #fffdf9;
  margin-left: -10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px; }
  #cwienczekCom:hover {
    color: #6dd4ff; }

#twitter {
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #fffdf9;
  vertical-align: text-bottom;
  margin-left: -25px;
  padding-left: 15px; }
  #twitter:hover {
    color: #13aff0; }

#twitter-border {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 2px;
  border: 1px solid #fffdf9;
  margin-right: 5px;
  margin-left: -20px; }
  #twitter-border:hover {
    border: 1px solid #13aff0; }

#linkedin {
  color: #fffdf9;
  width: 35px;
  height: 35px;
  line-height: 35px;
  vertical-align: text-bottom;
  margin-left: -25px;
  padding-left: 15px; }
  #linkedin:hover {
    color: #3399CC; }

#linkedin-border {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 2px;
  border: 1px solid #fffdf9;
  margin-right: 5px; }
  #linkedin-border:hover {
    border: 1px solid #3399CC; }

#github {
  color: #fffdf9;
  width: 35px;
  height: 35px;
  line-height: 35px;
  vertical-align: text-bottom;
  margin-left: -25px;
  padding-left: 15px; }
  #github:hover {
    color: #60b044; }

#github-border {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 2px;
  border: 1px solid #fffdf9;
  padding-right: 5px; }
  #github-border:hover {
    border: 1px solid #60b044; }

/* CONTENT */
#text {
  position: absolute;
  z-index: 3;
  left: 15%;
  top: 17%;
  width: 70%;
  height: 50%; }

#coming-soon {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #fffdf9;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 0.5px 0.5px 0.5px #3d4147;
  padding-top: -20px;
  min-height: 35px; }

#h1-font {
  color: #fffdf9;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.45rem;
  text-shadow: 0.5px 0.5px 0.5px #3d4147; }

#h2-font {
  color: #fffdf9;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  text-shadow: 0.5px 0.5px 0.5px #3d4147; }

.form {
  color: #fffdf9;
  margin: 50px auto;
  max-width: 650px; }

div h5 {
  font-size: 1.2rem;
  font-weight: 400; }

.options {
  font-family: 'Montserrat', sans-serif;
  color: #fffdf9; }

#input-width {
  width: 100%;
  margin: 15px auto;
  border-radius: 1px; }

#border-rounded {
  border-radius: .25rem; }

/*  CUSTOMIZED CHECKBOX */
/* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #fffdf9; }

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #2196F3; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #fffdf9;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.thanks {
  position: fixed;
  top: 10%;
  width: 80%;
  right: 10%;
  height: 80%;
  z-index: 5;
  display: none;
  background-color: #282828; }
  .thanks h2, .thanks h3, .thanks h4 {
    color: #6dd4ff;
    font-family: 'Montserrat', sans-serif;
    text-align: center; }
  .thanks h2 {
    padding-top: 10%; }

.footer {
  z-index: 3;
  position: absolute;
  top: 94%;
  width: 100%;
  max-height: 25%;
  color: #fffdf9;
  background-color: #5b5b5b; }

#info {
  font-size: 9px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px; }

#copyright {
  font-size: 7px;
  text-align: center; }

hr {
  width: 75%;
  border-top: 1px solid #757575 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  display: block;
  margin: 0 auto;
  margin-top: 0 !important; }

@media only screen and (min-width: 560px) {
  #navbar {
    height: 12%; }
  #cwienczekCom {
    font-size: 25px; }
  #twitter {
    width: 55px;
    height: 55px;
    line-height: 55px;
    margin-left: -15px; }
  #twitter-border {
    width: 55px;
    height: 55px;
    line-height: 55px;
    margin-left: -15px; }
  #linkedin {
    width: 55px;
    height: 55px;
    line-height: 55px;
    margin-left: -15px; }
  #linkedin-border {
    width: 55px;
    height: 55px;
    line-height: 55px; }
  #github {
    width: 55px;
    height: 55px;
    line-height: 55px;
    margin-left: -15px; }
  #github-border {
    width: 55px;
    height: 55px;
    line-height: 55px; }
  #h1-font {
    font-size: 2.8rem; }
  #coming-soon {
    font-size: 1.3rem;
    letter-spacing: 5px; }
  div h5 {
    font-size: 1.3rem;
    font-weight: 350; }
  .check-container {
    font-size: 1.2rem; }
  .checkmark {
    top: 5px; }
  .thanks h2 {
    font-size: 3.7rem; }
  .thanks h4 {
    font-size: 2.7rem; } }

@media only screen and (min-width: 1140px) {
  #twitter {
    width: 58px;
    height: 58px;
    line-height: 58px;
    margin-left: -15px; }
  #twitter-border {
    width: 58px;
    height: 58px;
    line-height: 58px;
    margin-left: -15px; }
  #linkedin {
    width: 58px;
    height: 58px;
    line-height: 58px;
    margin-left: -15px; }
  #linkedin-border {
    width: 58px;
    height: 58px;
    line-height: 58px; }
  #github {
    width: 58px;
    height: 58px;
    line-height: 58px;
    margin-left: -15px; }
  #github-border {
    width: 58px;
    height: 58px;
    line-height: 58px; }
  #h1-font {
    font-size: 3.8rem; }
  #coming-soon {
    font-size: 1.9rem;
    letter-spacing: 6px; }
  div h5 {
    font-size: 1.7rem;
    font-weight: 350; }
  .check-container {
    font-size: 1.5rem; }
  .checkmark {
    top: 9px; }
  #info {
    font-size: 10px; } }
