$cream-white: #fffdf9; 
$cwienczek-hover: #6dd4ff; 
$twitter-hover: #13aff0; 
$linkedin-hover: #3399CC; 
$github-hover: #60b044; 
$check-container-hover: #ccc; 
$check-container-checked: #2196F3; 
$text-shadow: #3d4147; 
$navbar: rgba(40,40,40,0.4); 
$layer: rgba(255,255,255,0.3); 
$layer1: rgba(99,99,99,0.8); 
